:root {
  --bg-color: #22416f; //默认背景颜色
  --color: rgb(39, 204, 207);
  --el-color-primary: rgb(39, 204, 207);
  --el-color-white: #ffffff;
  --item-bgc:#f6e177;
}

$bg-color: var(--bg-color); //默认背景颜色
$color: var(--color);
$All-color: var(--el-color-white);
$item-bgc:var(--item-bgc);